/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*End of CSS Reset*/

#scroll-nav {
	font-family: 'Fredoka One', cursive;
}



.navbar {
		background-image: linear-gradient(blue,black,black,blue);
}

#contact_form {
	background-image: linear-gradient(to right,blue,black);
	font-family: 'Fredoka One', cursive;
}

#projects {
	background-image: linear-gradient(to right, black,blue);
	font-family: 'Fredoka One', cursive;
}

body {
		background-image: linear-gradient(black,blue,black);
}

#bg-image {
	background-image: url(./images/sea-1.jpg);
	min-height: 100vh;
	background-repeat: round;
	background-position: center center;
	background-size: 100%;
	background-attachment: fixed;
	position: relative;
	z-index: 0;
	margin-top: 5%;
}

.front-bg {
	background: rgba(252, 252, 252, .5);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	background-attachment: fixed;
	position: relative;
	z-index: 0;
}

section {
	font-family: 'Syne Mono', monospace;
}

.navbar_bottom {
  background-image: linear-gradient(black,blue);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
